@model IEnumerable<AzureMvc.Models.Estado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    Nome do Estado : <input type="text" name="searchString" />
    <input type="submit" value="Pesquisar" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <img src="@item.ImagemEstado" style="max-width:350px"; heigth: auto"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais.PaisId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstadoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EstadoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EstadoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
